{% extends 'base.html.twig' %}


{% block contenu %}

{% if "ROLE_ADMIN" in user.roles %}

    <a href="{{ path('admin') }}" class="btn btn-dark">Panel d'administration</a>



    {% elseif "ROLE_GERANT" in user.roles %}
<p class="display-4 text-center">{{ user.Etablissement.Name }} </p><hr>
        {% for suite in suites %}
<p class="display-6"> {{ suite.Title }} </p><br>
            <a href="compte/supprsuite/{{ suite.Id }}" class="btn btn-dark">Supprimer cette suite</a> <br><hr>

{% endfor %}
<a href="{{ path('app_ajoutsuite') }}" class="btn btn-info">Ajouter une suite </a>

        <hr><br><br><br>
    {% else %}

Bonjour {{ app.user.firstname }} et bienvenue sur ta page perso.
<hr>
   <a href="{{ path('app_modifpass') }}">-Modifier mon mot de passe</a> <hr>



    {% if reservation is defined and reservation is not null %}
    -Mes réservations :<br><br>

    {% for reservations in reservation  %}

        Etablissement : {{ reservations.Etablissement.Name }} <br>
        Suite : {{ reservations.Room.Title }} <br>
        Date d'entrée : {{ reservations.Start | format_datetime() }} <br>
        Date de sortie : {{ reservations.End | format_datetime() }} <br><br>
        <a href="/compte/suppresa/{{  reservations.id }}" class="btn btn-dark">Annuler ma réservation</a><hr>


    {% endfor %}

    {% else %}
        <a href="{{ path('app_reservation') }}" class="btn btn-dark">Réserver une suite</a>

    {% endif %}

{% endif %}

{% endblock %}
