{% extends 'base.html.twig' %}

{% block contenu %}

    {{ form_start(formulaire, {'attr': {'id': 'form_perso1'}}) }}
    {{ form_widget(formulaire) }}
    {% if app.user %}
        <input type="submit" class="btn btn-dark" >
    {% else %}
        <alert class="alert-info">Vous devez être connecté pour pouvoir réserver</alert><br><br>
        <a href="{{ path('app_login') }}" class="btn btn-info">Se connecter</a>
    {% endif %}
    {{ form_end(formulaire) }}


    <br>
    <br>
    <br>

{% endblock %}
{% block addjavascripts %}

    <script src="{{ asset('assets/javascript/maresagenerale.js') }}"></script>
{% endblock %}