{% extends 'base.html.twig' %}

{% block contenu %}
    <br>
<div class="display-6">
    Passez un inoubliable moment romantique avec le groupe hotelier HYPNOS
</div><br><br><br>
    <div class="display-6">
7 Etablissements partout en France, des suites juste mémorables.
    </div><br><br><br>


        <p class="display-4 text-center">Du romantisme </p><br>
    <div class="row">
        <div class="col-12 col-md-6">
        <img src="{{ asset('images/suite3.jpg') }}" class="img-fluid img-thumbnail">
        <br><br>
        </div>
        <div class="col-12 col-md-6 pt-4">
        <p class="lead">Vous serez logés dans une chambre romantique avec votre moitié ou votre future moitié, nous serons à votre service pour vous faire passer un moment qui renforcera votre couple</p>
        </div>
    </div><br><br>


       <p class="display-4 text-center"> De l'atypique  </p>
        <br>
    <div class="row">
        <div class="col-md-6">
        <img src="{{ asset('images/suite4.jpg') }}" class="img-fluid img-thumbnail">
        <br><br>
        </div>
        <div class="col-md-6">
        <p class="lead pt-4">Vous serez logés dans une chambre atypique avec votre moitié ou votre future moitié, nous serons à votre service pour vous faire voyager</p>
        </div>
    </div><br><br>

    </div> <br><br><br>

    <div class="lead">
        -Découvrez dès à présent nos différents établissements ainsi que leur magnifiques suites :<br><br>

        <a href="{{path('app_etablissement-paris')}}">Hypnos Paris</a><hr>
        <a href="{{path('app_etablissement-marseille')}}">Hypnos Marseille</a><hr>
        <a href="{{path('app_etablissement-toulouse')}}">Hypnos Toulouse</a><hr>
        <a href="{{path('app_etablissement-bordeaux')}}">Hypnos Bordeaux</a><hr>
        <a href="{{path('app_etablissement-nimes')}}">Hypnos Nîmes</a><hr>
        <a href="{{path('app_etablissement-lyon')}}">Hypnos Lyon</a><hr>
        <a href="{{path('app_etablissement-reims')}}">Hypnos Reims</a><br>
    </div>
    <br><br><br><br><br>

{% endblock %}