<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset = "utf-8">
    <title>{% block titre %} Hotels Hypnos {% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/monstyle.css') }}">

</head>

<body class="vh-100">

  <header class="container-fluid hauteurheader border">
    <div class="row h-100 align-items-center">
        <div class="col-2">
            <img src="{{ asset('images/logo.jpg') }}" class="img-fluid">
        </div>
        <div class="col-2">

        </div>
        <div class="col display-5">
Le Groupe Hotelier
        </div>
        <div class="col-1">

        </div>
        <div class="col-1" id="menuburger">
            <img src="{{ asset('images/menu.svg') }}" class="img-fluid">
        </div>
    </div>

</header>


    <div id="menucache">
        <nav>
            <ul>
                <li>
                   <a class="liconnexion" href="#"> Connexion </a>
                </li>
                <li>
                    <a href="#">  Accueil </a>
                </li>
                <li>
                    <a href="#"> Reservation </a>
                </li>
                <li>
                    <a href="#"> Contact </a>
                </li>
                <li>
                    <img id="fermeturemenu" src="{{ asset('images/x.svg') }}">
                </li>
            </ul>
        </nav>
    </div>
<div class="container-fluid hauteurbody" id="bodydy">

{% block contenu %}

{% endblock %}


</div>


    <footer class="container-fluid hauteurfooter border fixed-bottom bg-white ">
        <div class="row">
            <div class="col-3">
                <a href="#">mentions légales</a>
            </div>
            <div class="col">

            </div>

            <div class="col-3">
                © tous droits réservés
            </div>
        </div>
    </footer>

<script src="{{ asset('assets/javascript/monjs.js') }}"></script>
</body>

</html>